In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
data = pd.read_csv('./data/업종별골프장현황.csv', 
                  encoding='cp949',
                  low_memory=False)

In [20]:
data.head()

,업종명,사업장명,골프장면적,골프장홀수,정제도로명주소,정제지번주소,정제우편번호,정제WGS84경도,정제WGS84위도
0,비회원제,더반,299311,9,경기도 이천시 대월면 대월로 627-141,경기도 이천시 대월면 도리리 66번지,17401.0,127.492201,37.209245
1,비회원제,사우스스프링스,975509,18,경기도 이천시 모가면 공원로 64,경기도 이천시 모가면 소고리 640-6번지,17407.0,127.450975,37.175198
2,회원제,블랙스톤,874136,18,경기도 이천시 장호원읍 장여로 459-160,경기도 이천시 장호원읍 풍계리 41-41번지,17414.0,127.617866,37.161592
3,비회원제,마이다스,1386077,27,경기도 이천시 설성면 설가로 602,경기도 이천시 설성면 송계리 산25-1번지,17409.0,127.524445,37.177107
4,비회원제,이천실크밸리,1379636,27,경기도 이천시 율면 고월로179번길 120,경기도 이천시 율면 월포리 714-34번지,17423.0,127.567891,37.083865

In [21]:
data.drop(columns={'정제우편번호', '정제WGS84경도', '정제WGS84위도', '정제도로명주소', '골프장면적', '골프장홀수'}, inplace=True)

In [22]:
data

      업종명     사업장명                    정제지번주소
0    비회원제       더반      경기도 이천시 대월면 도리리 66번지
1    비회원제  사우스스프링스   경기도 이천시 모가면 소고리 640-6번지
2     회원제     블랙스톤  경기도 이천시 장호원읍 풍계리 41-41번지
3    비회원제     마이다스   경기도 이천시 설성면 송계리 산25-1번지
4    비회원제   이천실크밸리   경기도 이천시 율면 월포리 714-34번지
..    ...      ...                       ...
152   회원제   프리스틴밸리   경기도 가평군 설악면 이천리 산2-12번지
153  비회원제  썬힐(비회원)  경기도 가평군 조종면 운악리 산162-8번지
154   회원제   마이다스밸리     경기도 가평군 설악면 이천리 240번지
155  비회원제      리앤리     경기도 가평군 조종면 운악리 산90번지
156  비회원제      자유로      경기도 연천군 백학면 학곡리 98번지

[157 rows x 3 columns]

In [23]:
res = data.정제지번주소.str.contains('경기', na=False)
data_G = data[res]
data_G

      업종명     사업장명                    정제지번주소
0    비회원제       더반      경기도 이천시 대월면 도리리 66번지
1    비회원제  사우스스프링스   경기도 이천시 모가면 소고리 640-6번지
2     회원제     블랙스톤  경기도 이천시 장호원읍 풍계리 41-41번지
3    비회원제     마이다스   경기도 이천시 설성면 송계리 산25-1번지
4    비회원제   이천실크밸리   경기도 이천시 율면 월포리 714-34번지
..    ...      ...                       ...
152   회원제   프리스틴밸리   경기도 가평군 설악면 이천리 산2-12번지
153  비회원제  썬힐(비회원)  경기도 가평군 조종면 운악리 산162-8번지
154   회원제   마이다스밸리     경기도 가평군 설악면 이천리 240번지
155  비회원제      리앤리     경기도 가평군 조종면 운악리 산90번지
156  비회원제      자유로      경기도 연천군 백학면 학곡리 98번지

[157 rows x 3 columns]

In [24]:
addr = data_G.정제지번주소.str.slice(start=0, stop=8)
addr
addr.value_counts()

data_G.정제지번주소 = addr

In [25]:
data_G

      업종명     사업장명    정제지번주소
0    비회원제       더반  경기도 이천시
1    비회원제  사우스스프링스  경기도 이천시
2     회원제     블랙스톤  경기도 이천시
3    비회원제     마이다스  경기도 이천시
4    비회원제   이천실크밸리  경기도 이천시
..    ...      ...       ...
152   회원제   프리스틴밸리  경기도 가평군
153  비회원제  썬힐(비회원)  경기도 가평군
154   회원제   마이다스밸리  경기도 가평군
155  비회원제      리앤리  경기도 가평군
156  비회원제      자유로  경기도 연천군

[157 rows x 3 columns]

In [26]:
data_G.정제지번주소.value_counts()

경기도 용인시     29
경기도 여주시     23
경기도 포천시     15
경기도 안성시     15
경기도 이천시     13
경기도 가평군      9
경기도 파주시      9
경기도 화성시      8
경기도 광주시      8
경기도 고양시      7
경기도 남양주시     6
경기도 양주시      3
경기도 양평군      2
경기도 안산시      2
경기도 시흥시      2
경기도 군포시      1
경기도 김포시      1
경기도 동두천시     1
경기도 하남시      1
경기도 성남시      1
경기도 연천군      1
Name: 정제지번주소, dtype: int64

In [27]:
data_G_cnt = pd.DataFrame(data_G.정제지번주소.value_counts())

In [28]:
data_G_cnt

          정제지번주소
경기도 용인시       29
경기도 여주시       23
경기도 포천시       15
경기도 안성시       15
경기도 이천시       13
경기도 가평군        9
경기도 파주시        9
경기도 화성시        8
경기도 광주시        8
경기도 고양시        7
경기도 남양주시       6
경기도 양주시        3
경기도 양평군        2
경기도 안산시        2
경기도 시흥시        2
경기도 군포시        1
경기도 김포시        1
경기도 동두천시       1
경기도 하남시        1
경기도 성남시        1
경기도 연천군        1

In [29]:
data_G_cnt.index.name = '주소'

In [32]:
data_G_cnt.rename(columns={'정제지번주소' : '골프장'}, inplace=True)

In [33]:
data_G_cnt

          골프장
주소
경기도 용인시    29
경기도 여주시    23
경기도 포천시    15
경기도 안성시    15
경기도 이천시    13
경기도 가평군     9
경기도 파주시     9
경기도 화성시     8
경기도 광주시     8
경기도 고양시     7
경기도 남양주시    6
경기도 양주시     3
경기도 양평군     2
경기도 안산시     2
경기도 시흥시     2
경기도 군포시     1
경기도 김포시     1
경기도 동두천시    1
경기도 하남시     1
경기도 성남시     1
경기도 연천군     1

In [34]:
data_G_cnt['골프장'] = 1

In [35]:
data_G_cnt

          골프장
주소
경기도 용인시     1
경기도 여주시     1
경기도 포천시     1
경기도 안성시     1
경기도 이천시     1
경기도 가평군     1
경기도 파주시     1
경기도 화성시     1
경기도 광주시     1
경기도 고양시     1
경기도 남양주시    1
경기도 양주시     1
경기도 양평군     1
경기도 안산시     1
경기도 시흥시     1
경기도 군포시     1
경기도 김포시     1
경기도 동두천시    1
경기도 하남시     1
경기도 성남시     1
경기도 연천군     1

In [37]:
data_G_cnt.to_csv('./data/경기도_골프장_유무_data.csv')