In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
train_station = pd.read_csv('./data/기차역.csv')

In [8]:
train_station

     Unnamed: 0                      주소       역이름     소속지사
0             0         서울시 중구 한강대로 405       서울역     서울본부
1             1   서울특별시 용산구 한강대로 23길 55       용산역     서울본부
2             2      서울특별시 영등포구 경인로 846      영등포역  수도권광역본부
3             3         경기도 광명시 광명역로 21       광명역  수도권광역본부
4             4      서울특별시 동대문구 왕산로 214      청량리역     서울본부
..          ...                     ...       ...      ...
213         213         강원도 원주시 지정로 145      서원주역     서울본부
214         214  경상북도 봉화군 소천면 분천리 113-2  양원(영동선)역   대구경북본부
215         215                     NaN       NaN      NaN
216         216                     NaN       NaN      NaN
217         217                     NaN       NaN      NaN

[218 rows x 4 columns]

In [9]:
res = train_station.주소.str.contains('경기', na=False)
train_G = train_station[res]
train_G

     Unnamed: 0                      주소   역이름     소속지사
3             3         경기도 광명시 광명역로 21   광명역  수도권광역본부
5             5     경기도 안양시 만안구 만안로 244   안양역  수도권광역본부
7             7   경기도 수원시 팔달구 덕영대로 924    수원역  수도권광역본부
8             8     경기도 오산시 오산동 역광장로 59   오산역  수도권광역본부
9             9          경기도 평택시 탄현로 51  서정리역  수도권광역본부
10           10          경기도 평택시 평택로 51   평택역  수도권광역본부
36           36     경기도 남양주시 와부읍 덕소로 56   덕소역  수도권광역본부
53           53     경기도 고양시 덕양구 소원로 102   행신역     서울본부
87           87      경기도 양평군 양평읍 역전길 30   양평역  수도권광역본부
95           95     경기도 양평군 용문면 용문역길 21   용문역  수도권광역본부
96           96     경기도 양평군 지평면 지평역길 32   지평역  수도권광역본부
97           97  경기도 양평군 지평면 망미리 1319-2   석불역  수도권광역본부
98           98       경기도 양평군 지평면 노곡길 2   일신역  수도권광역본부
100         100   경기도 양평군 양동면 매월리 1031    매곡역  수도권광역본부
102         102     경기도 양평군 양동면 양동역길 19   양동역  수도권광역본부
103         103    경기도 양평군 양동면 삼산역길 193   삼산역  수도권광역본부

In [10]:
addr = train_G.주소.str.slice(start=0, stop=8)
addr
train_G.주소 = addr

C:\Users\judge\AppData\Local\Temp\ipykernel_6780\3439949207.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_G.주소 = addr

In [14]:
train_G.drop(columns={'Unnamed: 0'}, inplace = True)

C:\Users\judge\AppData\Local\Temp\ipykernel_6780\1767358733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_G.drop(columns={'Unnamed: 0'}, inplace = True)

In [15]:
train_G

           주소   역이름     소속지사
3    경기도 광명시    광명역  수도권광역본부
5    경기도 안양시    안양역  수도권광역본부
7    경기도 수원시    수원역  수도권광역본부
8    경기도 오산시    오산역  수도권광역본부
9    경기도 평택시   서정리역  수도권광역본부
10   경기도 평택시    평택역  수도권광역본부
36   경기도 남양주시   덕소역  수도권광역본부
53   경기도 고양시    행신역     서울본부
87   경기도 양평군    양평역  수도권광역본부
95   경기도 양평군    용문역  수도권광역본부
96   경기도 양평군    지평역  수도권광역본부
97   경기도 양평군    석불역  수도권광역본부
98   경기도 양평군    일신역  수도권광역본부
100  경기도 양평군    매곡역  수도권광역본부
102  경기도 양평군    양동역  수도권광역본부
103  경기도 양평군    삼산역  수도권광역본부

In [16]:
train_G.주소.value_counts()

경기도 양평군     8
경기도 평택시     2
경기도 광명시     1
경기도 안양시     1
경기도 수원시     1
경기도 오산시     1
경기도 남양주시    1
경기도 고양시     1
Name: 주소, dtype: int64

In [17]:
train_G = pd.DataFrame(train_G.주소.value_counts())

In [18]:
train_G

          주소
경기도 양평군    8
경기도 평택시    2
경기도 광명시    1
경기도 안양시    1
경기도 수원시    1
경기도 오산시    1
경기도 남양주시   1
경기도 고양시    1

In [20]:
train_G.rename(columns={'주소':'기차역'}, inplace=True)

In [21]:
train_G

          기차역
경기도 양평군     8
경기도 평택시     2
경기도 광명시     1
경기도 안양시     1
경기도 수원시     1
경기도 오산시     1
경기도 남양주시    1
경기도 고양시     1

In [23]:
train_G.to_csv('./data/경기도_기차역_data.csv')