In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [47]:
data = pd.read_csv('./data/지하철.csv',
                   usecols = ['SBW_STATN_NM', 'ROAD_NM_ADDR'],
                  low_memory=False)

In [48]:
data

     SBW_STATN_NM             ROAD_NM_ADDR
0              평강       부산광역시 강서구 낙동북로 203
1              대사        부산광역시 강서구 낙동북로 82
2              불암       경상남도 김해시 김해대로 2787
3              지내       경상남도 김해시 김해대로 2718
4            김해대학       경상남도 김해시 김해대로 2641
...           ...                      ...
1009     서부산 유통지구  부산광역시 강서구 유통단지1로 57번길 7
1010           공항      부산광역시 강서구 공항진입로 165
1011           덕두        부산광역시 강서구 경전철로 10
1012           등구       부산광역시 강서구 경전철로 194
1013           대저       부산광역시 강서구 낙동북로 294

[1014 rows x 2 columns]

In [49]:
res = data.ROAD_NM_ADDR.str.contains('경기', na=False)
data_subway = data[res]
data_subway

    SBW_STATN_NM             ROAD_NM_ADDR
14           소요산        경기도 동두천시 평화로 2925
15           동두천        경기도 동두천시 평화로 2687
16            보산        경기도 동두천시 평화로 2539
17         동두천중앙        경기도 동두천시 동두천로 228
18            지행        경기도 동두천시 평화로 2285
..           ...                      ...
684           운양  경기도 김포시 김포한강1로 235(운양동)
685         걸포북변   경기도 김포시 김포대로 1040(북변동)
686     사우(김포시청)    경기도 김포시 김포대로 852(사우동)
687           풍무    경기도 김포시 김포대로 710(사우동)
688           고촌     경기도 김포시 고촌읍 김포대로 350

[211 rows x 2 columns]

In [50]:
data_subway.to_csv('./data/수도권(지하철).csv')

In [53]:
data_G = data_subway.rename(columns={'ROAD_NM_ADDR':'주소'})

In [54]:
addr = data_G.주소
addr

14           경기도 동두천시 평화로 2925
15           경기도 동두천시 평화로 2687
16           경기도 동두천시 평화로 2539
17           경기도 동두천시 동두천로 228
18           경기도 동두천시 평화로 2285
                ...
684    경기도 김포시 김포한강1로 235(운양동)
685     경기도 김포시 김포대로 1040(북변동)
686      경기도 김포시 김포대로 852(사우동)
687      경기도 김포시 김포대로 710(사우동)
688       경기도 김포시 고촌읍 김포대로 350
Name: 주소, Length: 211, dtype: object

In [55]:
addr = addr.str.slice(start=0, stop=8)
addr.value_counts()

주소
경기도 용인시     24
경기도 의정부시    21
경기도 고양시     21
경기도 성남시     19
경기도 남양주시    13
경기도 안산시     13
경기도 부천시     11
경기도 수원시     11
경기도 김포시      9
경기도 양평군      9
경기도 안양시      7
경기도 군포시      7
경기도 파주시      7
경기도 시흥시      6
경기도 동두천시     5
경기도 평택시      5
경기도 과천시      5
경기도 오산시      4
경기도 가평군      4
경기도 광명시      3
경기도 양주시      3
경기도 구리시      2
경기도 화성시      1
경기도 의왕시      1
Name: count, dtype: int64

In [56]:
subway_G = pd.DataFrame(addr.value_counts())

In [57]:
subway_G

          count
주소
경기도 용인시      24
경기도 의정부시     21
경기도 고양시      21
경기도 성남시      19
경기도 남양주시     13
경기도 안산시      13
경기도 부천시      11
경기도 수원시      11
경기도 김포시       9
경기도 양평군       9
경기도 안양시       7
경기도 군포시       7
경기도 파주시       7
경기도 시흥시       6
경기도 동두천시      5
경기도 평택시       5
경기도 과천시       5
경기도 오산시       4
경기도 가평군       4
경기도 광명시       3
경기도 양주시       3
경기도 구리시       2
경기도 화성시       1
경기도 의왕시       1

In [58]:
subway_G.rename(columns={'count':'지하철 역'},inplace=True)

In [59]:
subway_G.index.name = '지역'

In [60]:
subway_G

          지하철 역
지역
경기도 용인시      24
경기도 의정부시     21
경기도 고양시      21
경기도 성남시      19
경기도 남양주시     13
경기도 안산시      13
경기도 부천시      11
경기도 수원시      11
경기도 김포시       9
경기도 양평군       9
경기도 안양시       7
경기도 군포시       7
경기도 파주시       7
경기도 시흥시       6
경기도 동두천시      5
경기도 평택시       5
경기도 과천시       5
경기도 오산시       4
경기도 가평군       4
경기도 광명시       3
경기도 양주시       3
경기도 구리시       2
경기도 화성시       1
경기도 의왕시       1

In [62]:
subway_G.to_csv('./data/경기도_지하철역_data.csv')