In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
# encoding='cp949'

### 고령인구 통계

In [9]:
pop = pd.read_csv('./data/고령인구통계_data.csv',
                 low_memory=False)

In [10]:
pop

,Unnamed: 0,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,총 인구,49554112.0,49936638.0,50199853.0,50428893.0,50746659.0,51014947.0,51217803.0,51361911.0,51585058.0,51764822.0,51836239.0,51744876.0,51628117.0,51558034.0
1,고령 인구,5366109.0,5515179.0,5766729.0,6022659.0,6277126.0,6541168.0,6757083.0,7066060.0,7366085.0,7688994.0,8151867.0,8571347.0,9018412.0,9499933.0
2,비율,10.8,11.0,11.5,11.9,12.4,12.8,13.2,13.8,14.3,14.9,15.7,16.6,17.5,18.4

In [7]:
hospital = pd.read_csv('./data/경기도_종합병원_data.csv',         
                  low_memory=False)

In [8]:
hospital

  Unnamed: 0  종합병원 수
0   경기도 성남시        2
1   경기도 고양시        2
2    경기도 안산시       1
3   경기도 수원시        1
4   경기도 의정부시       1
5    경기도 파주시       1
6   경기도 이천시        1
7   경기도 안성시        1
8   경기도 포천시        1

In [11]:
train = pd.read_csv('./data/경기도_기차역_data.csv',         
                  low_memory=False)

In [12]:
train

  Unnamed: 0  기차역
0   경기도 양평군     8
1   경기도 평택시     2
2   경기도 광명시     1
3   경기도 안양시     1
4   경기도 수원시     1
5   경기도 오산시     1
6   경기도 남양주시    1
7   경기도 고양시     1

In [13]:
terminal = pd.read_csv('./data/경기도_버스터미널수_data.csv',         
                  low_memory=False)

In [14]:
terminal

   Unnamed: 0  버스터미널
0    경기도 포천시      22
1    경기도 양평군      18
2    경기도 평택시      15
3    경기도 가평군      11
4    경기도 남양주시     10
5    경기도 안성시       8
6    경기도 파주시       7
7    경기도 용인시       7
8    경기도 연천군       7
9    경기도 안양시       6
10   경기도 이천시       6
11   경기도 고양시       5
12   경기도 광명시       4
13   경기도 여주군       4
14   경기도 화성시       4
15   경기도 수원시       4
16   경기도 부천시       3
17   경기도 구리시       3
18   경기도 의정부시      3
19   경기도 동두천시      3
20   경기도 오산시       2
21   경기도 안산시       2
22   경기도 성남시       2
23   경기도 하남시       1
24   경기도 시흥시       1
25   경기도 여주시       1
26   경기도 광주시       1
27   경기도 군포시       1
28   경기도 의왕시       1

In [15]:
bus = pd.read_csv('./data/경기도_버스노선_data.csv',
                         low_memory=False)

In [16]:
bus

   Unnamed: 0  count
0         용인시    428
1         성남시    363
2         화성시    351
3         고양시    275
4         수원시    268
5         이천시    257
6        남양주시    212
7         여주시    211
8         광주시    201
9         파주시    185
10        평택시    171
11        부천시    167
12        양평군    167
13        안성시    167
14        안양시    161
15        시흥시    156
16        의왕시    154
17        김포시    142
18        구리시    132
19        양주시    125
20        오산시    115
21        안산시    111
22        연천군    106
23       의정부시     99
24        광명시     90
25        하남시     84
26        포천시     78
27        가평군     71
28        군포시     71
29       동두천시     69
30        과천시     66

In [17]:
subway = pd.read_csv('./data/경기도_지하철역_data.csv',
                      low_memory=False)

In [18]:
subway

   Unnamed: 0  지하철 역
0    경기도 용인시      24
1    경기도 의정부시     21
2    경기도 고양시      21
3    경기도 성남시      19
4    경기도 남양주시     13
5    경기도 안산시      13
6    경기도 부천시      11
7    경기도 수원시      11
8    경기도 김포시       9
9    경기도 양평군       9
10   경기도 안양시       7
11   경기도 군포시       7
12   경기도 파주시       7
13   경기도 시흥시       6
14   경기도 동두천시      5
15   경기도 평택시       5
16   경기도 과천시       5
17   경기도 오산시       4
18   경기도 가평군       4
19   경기도 광명시       3
20   경기도 양주시       3
21   경기도 구리시       2
22   경기도 화성시       1
23   경기도 의왕시       1

In [20]:
tollgate = pd.read_csv('./data/경기도_톨게이트_data.csv',
                      low_memory = False)

In [21]:
tollgate

   Unnamed: 0  톨게이트
0    경기도 용인시      7
1    경기도 평택시      5
2    경기도 안성시      4
3    경기도 여주시      4
4    경기도 이천시      4
5    경기도 성남시      4
6    경기도 남양주시     4
7    경기도 화성시      3
8    경기도 안산시      3
9    경기도 수원시      2
10   경기도 양평군      2
11   경기도 의왕시      2
12   경기도 군포시      2
13   경기도 광주시      2
14   경기도 하남시      2
15   경기도 구리시      2
16   경기도 시흥시      2
17   경기도 김포시      1
18   경기도 오산시      1
19   경기도 가평군      1

In [28]:
park_g = pd.read_csv('./data/경기도_시별_공원점수_data',
                    low_memory=False)

In [29]:
park_g

   Unnamed: 0   공원  공원보유시설(운동시설)  공원보유시설(편익시설)  공원보유시설(교양시설)  시설점수  최종점수
0    경기도 평택시   535           275           160             4   439   974
1    경기도 화성시   592             0             0             0     0   592
2    경기도 성남시   204           149           176            30   355   559
3    경기도 수원시   331           106           103            10   219   550
4    경기도 고양시   253           128            86             4   218   471
5    경기도 부천시   192            67           101             8   176   368
6    경기도 안산시   196            71            48            21   140   336
7    경기도 김포시   197            92            32             4   128   325
8    경기도 용인시   279             0             0             0     0   279
9    경기도 양주시    96            37            91             0   128   224
10   경기도 의정부시  107            93            19             3   115   222
11   경기도 파주시   161            33            17             6    56   217
12   경기도 시흥시   141            40            14             6    60   201
13   경기도 남양주시  170             0             0             0     0   170
14   경기도 오산시   118            27            14             5    46   164
15   경기도 안양시   132             0             0             0     0   132
16   경기도 군포시   122             0             0             0     0   122
17   경기도 구리시    61            46            15             0    61   122
18   경기도 의왕시    78            30            10             2    42   120
19   경기도 광명시    86             0            21             1    22   108
20   경기도 광주시    53            29            15             0    44    97
21   경기도 이천시    36            25            10             3    38    74
22   경기도 하남시    44             7            20             2    29    73
23   경기도 포천시    45            13             5             2    20    65
24   경기도 여주시    22            17            22             2    41    63
25   경기도 양평군    37             8             7             5    20    57
26   경기도 안성시    54             0             0             0     0    54
27   경기도 과천시    19            14            11             5    30    49
28   경기도 동두천시   40             0             0             0     0    40
29   경기도 가평군    15             7             9             5    21    36
30   경기도 연천군    17             0             0             0     0    17

In [30]:
golf_g = pd.read_csv('./data/경기도_골프장_유무_data.csv',
                    low_memory=False)

In [31]:
golf_g

          주소  골프장
0   경기도 용인시     1
1   경기도 여주시     1
2   경기도 포천시     1
3   경기도 안성시     1
4   경기도 이천시     1
5   경기도 가평군     1
6   경기도 파주시     1
7   경기도 화성시     1
8   경기도 광주시     1
9   경기도 고양시     1
10  경기도 남양주시    1
11  경기도 양주시     1
12  경기도 양평군     1
13  경기도 안산시     1
14  경기도 시흥시     1
15  경기도 군포시     1
16  경기도 김포시     1
17  경기도 동두천시    1
18  경기도 하남시     1
19  경기도 성남시     1
20  경기도 연천군     1