In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('./data/버스노선.csv', 
                  low_memory=False)

In [3]:
data.head(20)

   관할지역   정류소 ID   정류소명   Latitude   Longitude     노선 ID   노선번호  구분 인허가지역  카운트
0   평택시  4110735  삼성아파트  36.991550  127.078550  41022110    3-1  일반   평택시    1
1   평택시  4110735  삼성아파트  36.991550  127.078550  41022102     15  일반   평택시    1
2   평택시  4110734  삼성아파트  36.991817  127.078617  41022108   15-1  일반   평택시    1
3   평택시  4110734  삼성아파트  36.991817  127.078617  41022109   15-2  일반   평택시    1
4   평택시  4110734  삼성아파트  36.991817  127.078617  41022104     57  일반   평택시    1
5   평택시  4110734  삼성아파트  36.991817  127.078617  41022106   57-1  일반   평택시    1
6   평택시  4110734  삼성아파트  36.991817  127.078617  41044004     20  일반   평택시    1
7   평택시  4110734  삼성아파트  36.991817  127.078617  41022122    100  일반   평택시    1
8   평택시  4110734  삼성아파트  36.991817  127.078617  41022123  100-1  일반   평택시    1
9   평택시  4110734  삼성아파트  36.991817  127.078617  41022124  100-2  일반   평택시    1
10  평택시  4110734  삼성아파트  36.991817  127.078617  41022113   15-4  일반   평택시    1
11  평택시  4110734  삼성아파트  36.991817  127.078617  41022105   57-2  일반   평택시    1
12  평택시  4110734  삼성아파트  36.991817  127.078617  41044106     21  일반   평택시    1
13  평택시  4110734  삼성아파트  36.991817  127.078617  41044115     16  일반   평택시    1
14  평택시  4110734  삼성아파트  36.991817  127.078617  41022127    3-3  일반   평택시    1
15  평택시  4110734  삼성아파트  36.991817  127.078617  41022128   15-3  일반   평택시    1
16  평택시  4110734  삼성아파트  36.991817  127.078617  41044120     22  일반   평택시    1
17  평택시  4110734  삼성아파트  36.991817  127.078617  41022133    3-5  일반   평택시    1
18  평택시  4110734  삼성아파트  36.991817  127.078617  41022135    3-2  일반   평택시    1
19  평택시  4110734  삼성아파트  36.991817  127.078617  41022139   20-1  일반   평택시    1

In [4]:
data.groupby(['관할지역', '노선번호']).count()

                  정류소 ID  정류소명  Latitude  Longitude  노선 ID  구분  인허가지역  카운트
관할지역 노선번호
가평군  10-1             42    42        42         42     42  42     42   42
     10-4             17    17        17         17     17  17     17   17
     10-6              2     2         2          2      2   2      2    2
     10-7              9     9         9          9      9   9      9    9
     12               44    44        44         44     44  44     44   44
...                  ...   ...       ...        ...    ...  ..    ...  ...
화성시  공영4(돌내독지2)       22    22        22         22     22  22     22   22
     공영4(마산.고포)       33    33        33         33     33  33     33   33
     공영4(삼존2.3리)      10    10        10         10     10  10     10   10
     공영4(솔미.구렛)       29    29        29         29     29  29     29   29
     공영4(형도.고포)       31    31        31         31     31  31     31   31

[5297 rows x 8 columns]

In [5]:
tmp = data.groupby(['관할지역','노선번호']).count()

In [6]:
tmp.index[0][0]  # for문 돌리기

'가평군'

In [7]:
li = []
for f in tmp.index :
    li.append(f[0])

In [8]:
bus_route = pd.Series(li).value_counts()

In [9]:
bus_route

용인시     428
성남시     363
화성시     351
고양시     275
수원시     268
이천시     257
남양주시    212
여주시     211
광주시     201
파주시     185
평택시     171
부천시     167
양평군     167
안성시     167
안양시     161
시흥시     156
의왕시     154
김포시     142
구리시     132
양주시     125
오산시     115
안산시     111
연천군     106
의정부시     99
광명시      90
하남시      84
포천시      78
가평군      71
군포시      71
동두천시     69
과천시      66
금천구      15
강동구      15
음성군       5
구로구       4
노원구       4
봉화군       1
dtype: int64

In [10]:
bus_route = pd.DataFrame(bus_route)

In [11]:
bus_route

        0
용인시   428
성남시   363
화성시   351
고양시   275
수원시   268
이천시   257
남양주시  212
여주시   211
광주시   201
파주시   185
평택시   171
부천시   167
양평군   167
안성시   167
안양시   161
시흥시   156
의왕시   154
김포시   142
구리시   132
양주시   125
오산시   115
안산시   111
연천군   106
의정부시   99
광명시    90
하남시    84
포천시    78
가평군    71
군포시    71
동두천시   69
과천시    66
금천구    15
강동구    15
음성군     5
구로구     4
노원구     4
봉화군     1

In [12]:
bus_route.drop(index={'금천구', '강동구', '음성군', '구로구', '노원구', '봉화군' }, inplace=True)

In [13]:
bus_route

        0
용인시   428
성남시   363
화성시   351
고양시   275
수원시   268
이천시   257
남양주시  212
여주시   211
광주시   201
파주시   185
평택시   171
부천시   167
양평군   167
안성시   167
안양시   161
시흥시   156
의왕시   154
김포시   142
구리시   132
양주시   125
오산시   115
안산시   111
연천군   106
의정부시   99
광명시    90
하남시    84
포천시    78
가평군    71
군포시    71
동두천시   69
과천시    66

In [17]:
bus_route.rename(columns={0:'버스 노선수'}, inplace=True)

In [18]:
bus_route

      버스 노선수
용인시      428
성남시      363
화성시      351
고양시      275
수원시      268
이천시      257
남양주시     212
여주시      211
광주시      201
파주시      185
평택시      171
부천시      167
양평군      167
안성시      167
안양시      161
시흥시      156
의왕시      154
김포시      142
구리시      132
양주시      125
오산시      115
안산시      111
연천군      106
의정부시      99
광명시       90
하남시       84
포천시       78
가평군       71
군포시       71
동두천시      69
과천시       66

In [19]:
bus_route.to_csv('./data/경기도_버스노선수_data.csv')