In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('./data/병원list.csv', 
                  low_memory=False)

In [3]:
data.head()

   Unnamed: 0      의료기관명    병원종류                        주소
0           1    서울대학교병원  상급종합병원         서울특별시 종로구 대학로 101
1           2    부산대학교병원  상급종합병원          부산광역시 서구 구덕로 179
2           3    경북대학교병원  상급종합병원  대구광역시 중구 동덕로 130(삼덕로 2가)
3           4  칠곡경북대학교병원  상급종합병원          대구광역시 북구 호국로 807
4           5    전남대학교병원  상급종합병원              광주 동구 제봉로 42

In [5]:
res = data.주소.str.contains('경기', na=False)
data_hospital = data[res]
data_hospital.head(20)

    Unnamed: 0          의료기관명    병원종류                         주소
6            7      분당서울대학교병원  상급종합병원   경기도 성남시 분당구 구미로 173번길 82
31          32          국립암센터    종합병원     경기도 고양시 일산동구 일산로 323번지
32          33  국민건강보험공단 일산병원    종합병원       경기도 고양시 일산동구 일산로 100
33          34    근로복지공단 안산병원    종합병원          경기 안산시 상록구 구룡로 87
34          35    경기도의료원 수원병원    종합병원   경기도 수원시 장안구 수성로 245번길 69
35          36   경기도의료원 의정부병원    종합병원    경기도 의정부시 흥선로 142 (의정부동)
36          37    경기도의료원 파주병원    종합병원             경기 파주시 중앙로 207
37          38    경기도의료원 이천병원    종합병원           경기도 이천시 경충로 2742
38          39    경기도의료원 안성병원    종합병원     경기도 안성시 고수2로 17번지(당왕동)
39          40    경기도의료원 포천병원    종합병원      경기도 포천시 포천로 1648(신읍동)
65          66         국군수도병원    종합병원  경기도 성남시 분당구 새마을로 177번길 81

In [6]:
addr = data_hospital.주소.str.slice(start=0, stop=8)
addr

addr = addr.str.replace('경기도','경기')
addr = addr.str.replace('경기', '경기도')
addr = addr.str.replace('안산시 상', '안산시')
addr = addr.str.replace('파주시 중', '파주시')

In [7]:
addr

6     경기도 성남시
31    경기도 고양시
32    경기도 고양시
33     경기도 안산시
34    경기도 수원시
35    경기도 의정부시
36     경기도 파주시
37    경기도 이천시
38    경기도 안성시
39    경기도 포천시
65    경기도 성남시
Name: 주소, dtype: object

In [8]:
data_hospital.주소 = addr

C:\Users\judge\AppData\Local\Temp\ipykernel_13496\1309525603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hospital.주소 = addr

In [10]:
data_hospital

    Unnamed: 0          의료기관명    병원종류        주소
6            7      분당서울대학교병원  상급종합병원  경기도 성남시
31          32          국립암센터    종합병원  경기도 고양시
32          33  국민건강보험공단 일산병원    종합병원  경기도 고양시
33          34    근로복지공단 안산병원    종합병원   경기도 안산시
34          35    경기도의료원 수원병원    종합병원  경기도 수원시
35          36   경기도의료원 의정부병원    종합병원  경기도 의정부시
36          37    경기도의료원 파주병원    종합병원   경기도 파주시
37          38    경기도의료원 이천병원    종합병원  경기도 이천시
38          39    경기도의료원 안성병원    종합병원  경기도 안성시
39          40    경기도의료원 포천병원    종합병원  경기도 포천시
65          66         국군수도병원    종합병원  경기도 성남시

In [15]:
data_hospital.drop(columns={'Unnamed: 0'}, inplace=True)

C:\Users\judge\AppData\Local\Temp\ipykernel_13496\2220490053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hospital.drop(columns={'Unnamed: 0'}, inplace=True)

In [16]:
data_hospital

            의료기관명    병원종류        주소
6       분당서울대학교병원  상급종합병원  경기도 성남시
31          국립암센터    종합병원  경기도 고양시
32  국민건강보험공단 일산병원    종합병원  경기도 고양시
33    근로복지공단 안산병원    종합병원   경기도 안산시
34    경기도의료원 수원병원    종합병원  경기도 수원시
35   경기도의료원 의정부병원    종합병원  경기도 의정부시
36    경기도의료원 파주병원    종합병원   경기도 파주시
37    경기도의료원 이천병원    종합병원  경기도 이천시
38    경기도의료원 안성병원    종합병원  경기도 안성시
39    경기도의료원 포천병원    종합병원  경기도 포천시
65         국군수도병원    종합병원  경기도 성남시

In [17]:
data_hospital.to_csv('./data/경기도_종합병원_목록.csv')

In [18]:
data_hospital['주소'].value_counts()

경기도 성남시     2
경기도 고양시     2
경기도 안산시     1
경기도 수원시     1
경기도 의정부시    1
경기도 파주시     1
경기도 이천시     1
경기도 안성시     1
경기도 포천시     1
Name: 주소, dtype: int64

In [19]:
data_G = pd.DataFrame(data_hospital['주소'].value_counts())

In [22]:
data_G.rename(columns={'주소':'종합병원 수'}, inplace=True)

In [23]:
data_G

          종합병원 수
경기도 성남시        2
경기도 고양시        2
경기도 안산시        1
경기도 수원시        1
경기도 의정부시       1
경기도 파주시        1
경기도 이천시        1
경기도 안성시        1
경기도 포천시        1

In [24]:
data_G.to_csv('./data/경기도_종합병원_data.csv')